@import "tailwindcss";
@plugin "daisyui";


:root {
  --font-heading: 'Raleway', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --main-color: rgba(255, 255, 255, 0.87);
  --bg-gradient: linear-gradient(
    80deg,
    rgba(31, 41, 55, 1) 0%,
    rgba(17, 24, 39, 1) 50%,
    rgb(30, 58, 138) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Box sizing & resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-align: center;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--bg-gradient);
  color: var(--main-color);
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;
}

#root {
  flex: 1;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
}


/* Typography */
h1, h2, h3, h4, h5, h6, p {
  font-family: var(--font-heading);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

